<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.college">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ResetPassword"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            ></activity>
        <activity android:name=".Otpvalidate"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity
            android:name=".forgotPassword"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".faq.ViewFaqData"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".faq.ViewFaqList"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".oldpapers.ViewOldPaperList"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".oldpapers.OldPaperCategory"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name=".notification.MyMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".subject.SubjectList"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".subject.SubjectSemCAt"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".faculty.viewFacultyList"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.gallery.viewImage"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".notice.ViewNoticeMsg"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".notice.ViewNotice"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".faq.FaqActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".library.ViewIssueList"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".setting.VerifyEmail"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".setting.ChangeEmail"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".setting.ChangePassword"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".setting.Setting"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".onlineexam.TakingExam"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".onlineexam.ViewOnlineExamList"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".assignment.viewAssignmentsList"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".event.EventList"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SplashAcitivty"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".IPActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>